.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.eslintrc.js
eslint.config.mjs
tsconfig.json
.prettierrc
.prettierignore
scripts/**
.node-version
pnpm-workspace.yaml
pnpm-lock.yaml